version: '3.8'
services:
  api:
    build: .
    ports:
      - "8000:8000"
    networks:
      - app_net
    depends_on:
      - mockserver
    environment:
      - MOCK_SERVER_URL=http://mockserver:1080
  mockserver:
    image: mockserver/mockserver:5.15.0
    ports:
      - "1080:1080"
networks:
  app_net: