version: '3.8'

services:
  api:
    build: .
    container_name: password_strength_checker_api
    ports:
      - "8000:80"
    volumes:
      - .:/app
    working_dir: /app
    environment:
      - PYTHONPATH=/app

  mockserver:
    image: mockserver/mockserver:mockserver-5.14.0
    container_name: password_strength_checker_mockserver
    ports:
      - "1080:1080"