services:
  api:
    build: .
    ports:
      - "8000:80"
    volumes:
      - .:/app
    depends_on:
      - mockserver

  mockserver:
    image: mockserver/mockserver:5.15.0
    ports:
      - "1080:1080"