version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./src:/app/src

  mockserver:
    image: mockserver/mockserver:latest
    ports:
      - "1080:1080"