version: '3.9'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "80:80"
    depends_on:
      - mockserver

  mockserver:
    image: alpine/socat
    command: socat TCP-LISTEN:8080,fork TCP:host.docker.internal:54321