version: '3.8'
services:
  api:
    build: .
    ports:
      - "80:80"
    environment:
      - PYTHONUNBUFFERED=1
  mockserver:
    image: bbyars/mockserver
    ports:
      - "1080:1080"
