version: '3.8'

services:
  api:
    build: .
    container_name: payment_api
    ports:
      - "80:80"
    environment:
      - NAME=World
    depends_on:
      - mockserver

  mockserver:
    image: alpine/socat
    command: "tcp-listen:5000,fork EXEC:/bin/cat"
    container_name: payment_mockserver
    ports:
      - "5000:5000"