services:
  api:
    build:
      context: .
      args:
        DOCKER_BUILDKIT: 1
    ports:
      - "8000:80"
    volumes:
      - .:/app

  mockserver:
    image: mockserver/mockserver:5.14.0
    ports:
      - "1080:1080"