version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    depends_on:
      - mockserver
    environment:
      - PYTHONPATH=/app

  mockserver:
    image: payment_hephaestus-mockserver:latest
    ports:
      - "3000:3000"